<!DOCTYPE html>
<html lang="en">

<head>
    <title>DemoAPI AnimaProject</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
    <div class="content">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Function</th>
                    <th>Verbs</th>
                    <th>Path</th>
                    <th>json attributes</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>create a user</td>
                    <td>POST</td>
                    <td>/signup</td>
                    <td>Send username, email and password</td>
                </tr>
                <tr>
                    <td>authenticate a user</td>
                    <td>POST</td>
                    <td>/auth</td>
                    <td>Send email and password</td>
                </tr>
                <tr>
                    <td>Return all courses</td>
                    <td>GET</td>
                    <td>/courses</td>
                    <td>Courses has id, title, cover, teacher and description</td>
                </tr>
                <tr>
                    <td>Return a specific course</td>
                    <td>GET</td>
                    <td>/cours/:id</td>
                    <td>Course has id, title, cover, teacher and description</td>
                </tr>
                <tr>
                    <td>Return all lesson from a specific course</td>
                    <td>GET</td>
                    <td>/lessons/:id</td>
                    <td>Send id (the course id) and receive id, title, link, courseId and description</td>
                </tr>
                <tr>
                    <td>Create a new course</td>
                    <td>POST</td>
                    <td>/course</td>
                    <td>Send title, cover, teacher and description</td>
                </tr>
                <tr>
                    <td>Create a new lesson</td>
                    <td>POST</td>
                    <td>/lesson</td>
                    <td>Send title, link, CourseId and description</td>

                </tr>
                <tr>
                    <td>Update a specific course</td>
                    <td>PUT</td>
                    <td>/course/:id</td>
                    <td>send title, cover, teacher and description</td>
                </tr>
                <tr>
                    <td>Update a specific lesson</td>
                    <td>PUT</td>
                    <td>/lesson/:id</td>
                    <td>send title, link, CourseId and description</td>
                </tr>
                <tr>
                    <td>Delete a specific course</td>
                    <td>DELETE</td>
                    <td>/course/:id</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>Delete a specific lesson</td>
                    <td>DELETE</td>
                    <td>/lesson/:id</td>
                    <td>NA</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th colspan="3">Users format</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Attribute</th>
                    <th>Type</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>number</td>
                </tr>
                <tr>
                    <td>email, password, title, description, cover, link, teacher</td>
                    <td>string</td>
                </tr>
            </tbody>
        </table>
        <br>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th colspan="3">Content format</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Attribute</th>
                    <th>Type</th>
                </tr>
                <tr>
                    <td>id</td>
                    <td>number</td>
                </tr>
                <tr>
                    <td>title</td>
                    <td>string</td>
                </tr>
                <tr>
                    <td>year</td>
                    <td>number</td>
                </tr>
                <tr>
                    <td>price</td>
                    <td>number</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
